*.DS_Store
Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
EloRating.Rproj
man/.Rapp.history
vignettes/*.pdf
vignettes/*.tex
vignettes/*.bbl
vignettes/*.log
vignettes/*.xml
vignettes/*.gz
vignettes/*.toc
vignettes/*.html
vignettes/*.R
vignettes/tutorial-blx.bib
testlab/
R/_new.R
src/*.o
src/*.so
src/*.dll
packagearchive/
inst/doc/
vignettes/zz_cacheloc/
inst/doc
/doc/
/Meta/
dump/
