.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
EloRating.Rproj
.Rbuildignore
man/.Rapp.history
vignettes/*.pdf
vignettes/*.tex
vignettes/*.bbl
vignettes/*.log
vignettes/*.xml
vignettes/*.gz
vignettes/*.toc
vignettes/tutorial-blx.bib
